# Telegram Bot Token (@BotFather orqali olinadi)
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# Google Gemini API Key (https://aistudio.google.com/ orqali bepul olinadi)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# WebApp va Server porti
PORT=3000

# Mini App havolasi (Ngrok yoki xosting domeni, masalan: https://my-app.loca.lt)
WEBAPP_URL=http://localhost:3000
